<br><br><br><br>
<div class="flash-error">
    <% if !flash[:error].nil? %>
        <%= flash[:error] %>
    <% end %>
</div>
<div class="dash-container-tasks">
    <button class="create-tasks"><%= link_to "Create a New Task", new_user_task_path(@user) %></button>
</div><br>

<div class="table-labels">
    <%= render 'tasklist', :locals => {:@tasks => @tasks} %>
</div>

<br><br>

<div class="">
    <h2><-Completed Tasks-></h2><hr><br>
    <%= render 'completed', :locals => {:@tasks => @tasks} %>
</div>