<div class="dash-container">
    <button class="create-tasks"><%= link_to "Create a New Task", new_user_task_path(@user) %></button>
</div>

<div class="">
    <%= render 'tasklist', :locals => {:@tasks => @tasks} %>
</div>

<br><br>

<div class="">
    <h2><-Completed Tasks-></h2>
    <%= render 'completed', :locals => {:@tasks => @tasks} %>
</div>