<section>
    <h1>Dashboard for 
        <% if @user.provider = "facebook" %> 
            <%= @user.name %> 
        <% else %> 
            <%= @user.first_name %> 
        <% end %>
    </h1>
    
    <div class="dash-container">
        <ul>
            <li class="dash-item">
                <button class="your-tasks"><a class="your-tasks-link" href="/users/<%= @user.id %>/tasks">Your<br> Tasks</a></button>
            </li>
            <li class="dash-item">
                <button class="task-groups"><a class="task-groups-link" href="#">Your<br> Projects</a></button>
            </li>
            <li class="dash-item">
                <button class="create-group"><a class="create-group-link" href="/projects/new">Create<br> Project</a></button>
            </li>
        </ul>
    </div>
</section>