<section>
    <h1>Dashboard for <% if @user.provider = "facebook" %> <%= @user.name %> <% else %> <%= @user.first_name %> <% end %></h1>
    <div class="dash-container">
        <ul>
            <li class="dash-item">
                <button class="your-tasks"><a class="your-tasks-link" href="/user/:id/tasks">Your Personal Tasks</a></button>
            </li>
            <li class="dash-item">
                <button class="task-groups"><a class="task-groups-link" href="/user/:id/groups">Task<br> Groups</a></button>
            </li>
            <li class="dash-item">
                <button class="create-group"><a class="create-group-link" href="/user/:id/groups/new">Create a Group</a></button>
            </li>
        </ul>
    </div>
</section>