<section>

<% if flash[:success] %>
    <div class="success">
        <p class="flash-error"><%= flash[:success] %></p>
    </div>
<% end %>

<% if current_user.nil? %>
    <h1>Welcome to Swift Task!</h1>
    <h3>It's not just a task list <span id="dash">-</span> It's an experience! </h3>
    <button class="get-started"><a class="get-started" href="/signup">Get Started</a></button>
<% else %>
    <h1>Welcome back!</h1>
    <button class="get-started"><a class="get-started" href="/dashboard">Dashboard >></a></button>
<% end %>

</section>
