<div class="flash-error">
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>
</div>
<h1>Projects</h1><hr>

<a class="task-groups" href="/users/most_projects">Which User Has The Most Projects?</a>

<% @projects.all.each do |project| %>
  <div class="">
    <h2><%= link_to "#{project.name}", project_path(project)%></h2>
    <% tasks = project.tasks %>
    <%= render partial: 'tasks/tasklist', :locals => {:@tasks => tasks}%>
  </div>
<% end %>