<section>
<h1>About Swift Task</h1>
<p>
    Convenience is our goal. Swift Task focuses on making it easy to manage tasks between team members for your project.
    Et molestie ac feugiat sed lectus. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Tincidunt ornare massa eget egestas purus. Massa tincidunt dui ut ornare lectus sit amet est. Volutpat est velit egestas dui id ornare arcu odio ut. Mus mauris vitae ultricies leo. Bibendum neque egestas congue quisque egestas. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Pharetra convallis posuere morbi leo urna molestie at elementum. Id leo in vitae turpis massa sed elementum tempus. Mattis aliquam faucibus purus in massa. Purus in massa tempor nec feugiat nisl pretium. Egestas integer eget aliquet nibh praesent tristique magna sit amet. Massa tempor nec feugiat nisl pretium fusce id velit. Nec ultrices dui sapien eget mi proin sed libero. Odio facilisis mauris sit amet massa vitae tortor condimentum.
</p>
<br>
<h3> Interested in creating an account? </h3>
<button class="get-started"><a class="get-started" href="/login">Let's Get Started</a></button>
</section>